/* Custom specific attributes 
  watch out for global attributes */

@media(max-width:500px){

  .start-text{

    font-size:1.6em !important;5
  }
  
}

#home{
  background-image: url("../images/start2.jpg");
  
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}


.start-text{
  font-size:3em !important;
}

.start-text-child {
  font-size:1.2em !important;
}


.portfolio-image{width:200px; margin-left:auto; margin-right:auto;}

.translucent-bg.first:after{

    background:white;
    color:black;

}

.translucent-bg.first p{

    color:black;

}

.translucent-bg.first li{

    color:black;

}

.title{color:#2f2f2f !important; font-weight:100;}

.translucent-bg.second:after{

    background: #EBEBEB;

}


.translucent-bg.third:after{

    background:white;

}

.lead{

    color:black;

}

h1 span, h2 span, h3 span, h4 span {
  color: #68d682;
}

/* BANNER */

.fixed-header-on .header {
    background-color: rgba(0, 0, 0, 0.9);
	padding: 5px 0;
}

/* Länkar */
.main-navigation .navbar-default .navbar-nav > li.active > a {
  background-color: transparent;
  color: #55acee;
}

/* punktlista */
.text-colored {
  color: #55acee;
}

/* links in portfolio */
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus, .nav-pills > li > a:hover {
  background-color: #55ACEE;
  border-color: #3979A9;
  color: #ffffff;
}

/* Fet text i mitten */
.default-bg h1, .default-bg h2, .default-bg h3, .default-bg h4, .default-bg h5, .default-bg h6, .translucent-bg h1, .translucent-bg h2, .translucent-bg h3, .translucent-bg h4, .translucent-bg h5, .translucent-bg h6 {
  color: #333333;
}


.modal-header {
  background-color: #68d682;
  color: #333333;
}

.modal-header h4 {
  color: #333333;
}


.cvButton{
      background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
      background-image: linear-gradient(top, #f4f1ee, #fff);
      border-radius: 50%;
      box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);

      height: 100px;
      position: relative;
      width: 100px;  
      margin-right: auto;
      margin-left: auto;
      display: block;   
      -webkit-transition: all .1s linear;
      transition: all .1s linear;
      color: black;
    }
    .cvButton:focus {outline:0;}

    .cvButton:hover{
      background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
      background-image: linear-gradient(top, #fff, #f4f1ee);
      color:#0088cc;
    }


.kontakt{
  width: 30px;
  color:#333333;
  text-align: right;
}

.v-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.reel{
  background-color: black;
}
